<div>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/show">{{ monthName}}</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#20140821" id="prevDay" th:title="#{show.prevmonth}">
                        <span class="glyphicon glyphicon-chevron-left nav-date"/></a></li>
                    <li><a href="#20140823" id="nextDay" th:title="#{show.nextmonth}">
                        <span class="glyphicon glyphicon-chevron-right nav-date"/></a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                th:text="#{show.navigation}">Navigation</span><span
                                class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-hide="byProduct"><a href="/chart" th:text="#{show.chartbyproduct}">Chart by product</a></li>
                            <li ng-show="byProduct"><a href="/chart#pmt" th:text="#{show.chartbyproducttype}">Chart by product type</a></li>
                            <li class="divider"></li>
                            <li ng-repeat="cmd in commands"><a href="{{cmd.link}}">{{cmd.name}}</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout" th:text="#{login.logout}">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-container" id="charthost" style="height: 600px;">
    </div>

    <input type="hidden" id="_wholePrice" th:value="#{show.wholesum}"/>
    <input type="hidden" id="_costForPeriod" th:value="#{show.costforperiod}"/>
    <input type="hidden" id="_costForTypePeriod" th:value="#{show.costfortypeperiod}"/>

    <script>
        $('.dropdown-toggle').dropdown();
    </script>
</div>