<div>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <span class="navbar-brand">{{ monthName}}</span>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#20140821" id="prevDay" th:title="#{show.prevmonth}">
                        <span class="glyphicon glyphicon-chevron-left nav-date"/></a></li>
                    <li><a href="#20140823" id="nextDay" th:title="#{show.nextmonth}">
                        <span class="glyphicon glyphicon-chevron-right nav-date"/></a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span th:text="#{show.navigation}">Navigation</span><span
                                class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            <li ng-repeat="cmd in commands"><a href="{{cmd.link}}">{{cmd.name}}</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li id="selector-place"></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div ng-repeat="item in items | orderBy:'day'" class="month-table-container">
            <table class="month-table">
                <caption><a href="#d{{item.day}}">{{dayName(item.day)}}</a></caption>
                <tbody>
                <tr ng-repeat="child in item.items">
                    <td>{{child.name}}</td>
                    <td>{{child.price}}</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>{{totalPrice(item)}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <input type="hidden" id="_today" th:value="#{show.today}"/>
    <input type="hidden" id="_yesterday" th:value="#{show.yesterday}"/>
    <input type="hidden" id="_tomorrow" th:value="#{show.tomorrow}"/>
    <input type="hidden" id="_whatelse" th:value="#{show.whatelse}"/>

    <script>
        $('.dropdown-toggle').dropdown();
    </script>
</div>