/*-------------------------
	Simple reset
--------------------------*/

* {
    margin: 0;
    padding: 0;
}

/*-------------------------
	General Styles
--------------------------*/

body {
    font: 15px/1.3 'Open Sans', sans-serif;
    color: #5e5b64;
}

a, a:visited {
    outline: none;
    color: #1057c1;
}

a:hover {
    text-decoration: none;
}

section, footer, header, aside, nav {
    display: block;
}

/*-------------------------
	The order form
--------------------------*/

div#container {
    background-color: #61a1bc;
    border-radius: 2px;
    box-shadow: 0 1px 1px #ccc;
    width: 500px;
    padding: 35px 60px;
    margin: 80px auto;
}

div#container h1 {
    color: #fff;
    font-size: 25px;
    font-family: 'Cookie', cursive;
    font-weight: normal;
    /*line-height: 1;*/
    text-shadow: 0 3px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-align: center;
}

div#pane ul {
    list-style: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin: 15px 0 5px;
}

div#pane ul li {
    padding: 5px 5px;
    background-color: #e35885;
    margin-bottom: 8px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    vertical-align: middle;
    border-radius: 3px;
}

div#pane ul li span {
    font-size: 15px;
}

div#pane ul li span.right {
    float: right;
    padding-top: 7px;
}

div#pane ul li.bought {
    background-color: rgba(160, 160, 160, 0.38);
}

div#pane ul li.bought span.name {
    text-decoration: line-through;
}

div#pane ul li span.comment {
    color: #a0a0a0;
    font-size: 14px;
    font-style: italic;
}

div.total {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.bought-true {
    text-decoration: line-through;
}

.nav-date {
    padding-top: 4px;
}

.price-total {
    color: blue;
    font-weight: bold;
}

.day-comment {
    color: grey;
}

#selector-place {
    width: 300px;
    padding-top: 5px;
}

td.center-cell, th.center-cell {
    text-align: center;
}

td.left-cell, th.left-cell {
    text-align: left;
}

td.right-cell, th.right-cell {
    text-align: right;
}

td.operation-cell, th.operation-cell {
    width: 22%;
}

table.mobile {
    font-size: 30px;
}

div.month-table-container {
    display: inline-block;
    border: 1px solid black;
    padding: 3px;
    margin: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: top;
    background-color: #6AA6C8;
}

table.month-table {
    border-collapse: collapse;
    background-color: #ffffff;
    min-width: 140px;
}

table.month-table caption {
    font-weight: bold;
}

table.month-table td {
    border: 1px solid black;
    padding: 3px;
}

.month-price {
    padding: 15px;
    float: left;
}

.month-price-title {
    color: #000000;
}

.body-nav {
    padding-top: 60px;
}

.main-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

a.red {
    color: #d14;
}

.login-container {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 50px;
}

.prod-type-col {
    width: 190px;
    text-align: center;
}

.error-box {
    width: 100px;
}

.table-main > tbody > tr > td {
    vertical-align: middle;
}
