<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{login.caption}">Login</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="#" th:href="@{/css/main.css}"/>
    <link href="#" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="#" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body onload="document.form.username.focus();">
<div class="login-container">
    <h4 th:text="#{login.caption}">Login with username and password</h4>

    <p th:if="${param.logout}" class="alert">You have been logged out</p>
    <p th:if="${param.error}" class="alert alert-danger"  th:text="#{login.errortry}">There was an error, please try again</p>

    <form name="form" id="form" th:action="@{/login}" action="/login" method="POST" role="form">
        <div class="form-group">
            <input type="text" name="username" id="username" value="admin" th:attr="placeholder=#{login.username}" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="password" name="password" id="password" th:attr="placeholder=#{login.password}" class="form-control"/>
        </div>
        <div class="form-group">
            <input type="checkbox" name="_spring_security_remember_me" checked="checked"/>
            <span th:text="#{login.rememberme}">Remember me</span>
        </div>

        <input type="submit" id="login" th:value="#{login.signin}" class="btn btn-primary"/>
    </form>
</div>
</body>
</html>