<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.mobile}">Mobile shopping list :: Bozor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>


    <link rel="stylesheet" type="text/css" media="all"
          href="../../stylesheets/main.css" th:href="@{/css/main.css}"/>
    <link href="#" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<div id="main">
    <table class="table table-condensed mobile">
        <tr>
            <th>Name</th>
            <th class="operation-cell">Buy</th>
            <th th:if="${showComments}">Amount</th>
            <th th:if="${showComments}">Comment</th>
            <th class="operation-cell">Delete</th>
        </tr>
        <tr th:each="prod : ${items}">
            <td><span th:class="'bought-' + ${prod.bought}" th:text="${prod.name}">Onions</span></td>
            <td class="operation-cell">
                <a class="btn btn-lg btn-primary" th:if="${prod.isBought() == false}" th:href="@{'/buy/' + ${prod.id}}"
                   th:text="#{mobile.buy}">Buy</a>
                <span th:if="${prod.isBought() == true}" th:text="#{mobile.bought}"></span>
            </td>
            <td th:text="${prod.amount}" th:if="${showComments}">12</td>
            <td th:text="${prod.comment}" th:if="${showComments}">12</td>
            <td class="operation-cell">
                <a class="btn btn-danger" th:href="@{'/remove/' + ${prod.id}}">X</a>
            </td>
        </tr>
    </table>

    <hr/>

    <form action="m" method="get" class="form-inline">
        <input type="text" name="s" th:value="${searchText}" class="form-control"/>
        <button type="submit" th:text="#{global.search}" class="btn btn-primary"/>
    </form>
    <br/>

    <form action="m" method="post" class="form-inline" th:if="${searchText}">
        <input type="text" name="name" th:value="${searchText}" class="form-control"/>
        <button type="submit" th:text="#{global.create}" class="btn btn-success"/>
    </form>
    <br/>

    <table class="table table-condensed mobile" th:if="${foundProducts}">
        <tr th:each="prod : ${foundProducts}">
            <td th:text="${prod.name}">name</td>
            <td>
                <a class="btn btn-success" th:href="@{'/add/' + ${prod.id}}" th:text="#{mobile.add}">Add</a>
            </td>
        </tr>
    </table>

    <div class="alert alert-warning" role="alert" th:if="${searchText}" th:unless="${foundProducts}" th:text="#{message.products.not.found}"></div>
</div>
</body>
</html>