<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" ng-app="bozorApp">
<head>
    <title>Product list :: Bozor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" media="all"
          href="#" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../stylesheets/chosen.css" th:href="@{/css/chosen.css}"/>
    <link href="#" th:href="@{/webjars/angularjs/1.2.25/angular-csp.css}"
          rel="stylesheet" media="screen"/>
    <link href="#" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
    <link href="#" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css}"
          rel="stylesheet" media="screen"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/chosen.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/toastr.min.css}"/>
</head>

<body class="body-nav">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/logout" th:text="#{login.logout}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<div ng-controller="ProductsEditController" class="main-container">
    <table class="table table-bordered table-row table-hover">
        <thead>
        <th th:text="#{show.productname}" class="left-cell">Name</th>
        <th th:text="#{show.producttype}" class="prod-type-col">>Type</th>
        <th style="width: 50px;"></th>
        </thead>
        <tbody>
        <tr ng-repeat="product in products">
            <td>
                <div ng-hide="product.edit">{{product.name}}</div>
                <div ng-show="product.edit" class="input-group input-group-sm">
                    <input type="text" class="form-control" ng-model="tempProduct.name" on-enter="saveProduct()"/>
                </div>
            </td>

            <td ng-hide="product.edit" ng-click="startEdit(product)" class="prod-type-col">
                {{product.selectedType.name}}
            </td>
            <td ng-show="product.edit" class="prod-type-col">
                <div id="prod{{product.id}}">
                </div>
            </td>

            <td class="prod-type-col">
                <a class="btn btn-sm btn-primary" ng-click="startEdit(product)" ng-hide="product.edit"
                   th:text="#{show.edit}">Edit</a>
                <a class="btn btn-sm btn-danger" ng-click="removeProduct(product)" ng-hide="product.edit"
                   th:text="#{show.remove}">Remove</a>

                <a class="btn btn-sm btn-success" ng-click="saveProduct()" ng-show="product.edit"
                   th:text="#{show.save}">Save</a>
                <a class="btn btn-sm btn-warning" ng-click="cancelEdit()" ng-show="product.edit"
                   th:text="#{show.cancel}">Cancel</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<script src="#" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script src="#" th:src="@{/js/chosen.jquery.min.js}"></script>
<script src="#" th:src="@{/js/toastr.js}"></script>
<script src="#" th:src="@{/webjars/angularjs/1.2.25/angular.min.js}"></script>
<script src="#" th:src="@{/webjars/angularjs/1.2.25/angular-route.min.js}"></script>
<script src="#" th:src="@{/webjars/angularjs/1.2.25/angular-resource.min.js}"></script>
<script src="#" th:src="@{/webjars/angular-ui-bootstrap/0.11.0-3/ui-bootstrap.min.js}"></script>
<script src="#" th:src="@{/webjars/angular-ui-bootstrap/0.11.0-3/ui-bootstrap-tpls.min.js}"></script>

<script src="#" th:src="@{/js/app/shared.js}"></script>
<script src="#" th:src="@{/js/app/app.js}"></script>
<script src="#" th:src="@{/js/app/directives.js}"></script>
<script src="#" th:src="@{/js/app/services.js}"></script>
<script src="#" th:src="@{/js/app/notificationService.js}"></script>
<script src="#" th:src="@{/js/app/productsEditController.js}"></script>
</body>
</html>