<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" ng-app="bozorApp">
<head>
    <title th:text="#{title.show}">Bozor shopping list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css" media="all"
          href="../../stylesheets/main.css" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" type="text/css" media="all"
          href="../../stylesheets/chosen.css" th:href="@{/css/chosen.css}"/>
    <link href="#" th:href="@{/webjars/angularjs/1.2.25/angular-csp.css}"
          rel="stylesheet" media="screen" />
    <link href="#" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
    <link href="#" th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap-theme.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body class="body-nav">

<input type="hidden" id="_locale" th:value="${#locale.language}"/>
<input type="hidden" id="_titleshow" th:value="#{title.show}"/>
<input type="hidden" id="_titlemonth" th:value="#{title.month}"/>

<div ng-view=""></div>

<script src="#" th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>
<script src="#" th:src="@{/js/chosen.jquery.min.js}"></script>
<script src="#" th:src="@{/js/moment-with-locales.min.js}"></script>
<script src="#" th:src="@{/webjars/angularjs/1.2.25/angular.min.js}"></script>
<script src="#" th:src="@{/webjars/angularjs/1.2.25/angular-route.min.js}"></script>
<script src="#" th:src="@{/webjars/angularjs/1.2.25/angular-resource.min.js}"></script>
<script src="#" th:src="@{/webjars/angular-ui-bootstrap/0.11.0-3/ui-bootstrap.min.js}"></script>
<script src="#" th:src="@{/webjars/angular-ui-bootstrap/0.11.0-3/ui-bootstrap-tpls.min.js}"></script>
<script src="#" th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>

<script src="#" th:src="@{/js/app/shared.js}"></script>
<script src="#" th:src="@{/js/app/app.js}"></script>
<script src="#" th:src="@{/js/app/services.js}"></script>
<script src="#" th:src="@{/js/app/dialogControllers.js}"></script>
<script src="#" th:src="@{/js/app/dialogsSvc.js}"></script>
<script src="#" th:src="@{/js/app/selectorPresenter.js}"></script>
<script src="#" th:src="@{/js/app/showByDayController.js}"></script>
<script src="#" th:src="@{/js/app/showByMonthController.js}"></script>
<script src="#" th:src="@{/js/app/showConfig.js}"></script>
<script src="#" th:src="@{/js/app/expressions.js}"></script>
</body>
</html>